nav.vera-header {
    background-color: #4E5D6C;
    color: #ffffff;
}

a {
    color: #ffffff;
}

/*table {*/
    /*background-color: #74889d;*/
    /*color: #ffffff;*/
    /*border-color: #000000;*/
    /*border-top: 1px solid #000;*/
/*}*/

body {
    background-color: #E4E4E4;
}
