nav.vera-header {
    background-color: #4E5D6C;
    color: #ffffff;
}

a, a:visited {
    color: #ffffff;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav > li > a.active {
    background-color: #6e8398;
    color: #fff;
}

a:hover {
    color: #e27c1e;
}

i.fa-asterisk {
    color: #e27c1e;
}
